useDynLib(drbart, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(plot,drbart)
S3method(predict,drbart)
export(drbart)
importFrom("graphics", "legend", "lines", "points")
importFrom("stats", "approxfun", "integrate", "quantile", "runif")
importFrom("utils", "flush.console")